<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620763499813-r6pacsk16s0u0tku9llfg8s346fh4bg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620763499813-r6pacsk16s0u0tku9llfg8s346fh4bg9</string>
	<key>API_KEY</key>
	<string>AIzaSyAcPO_nxO_NjCnBrahJCETQsfYriBHVHl8</string>
	<key>GCM_SENDER_ID</key>
	<string>620763499813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dragon.GoodRestaurantNote</string>
	<key>PROJECT_ID</key>
	<string>goodrestaurantnote</string>
	<key>STORAGE_BUCKET</key>
	<string>goodrestaurantnote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:620763499813:ios:56ad3d0960543abdbb9ecc</string>
</dict>
</plist>
