<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb3300826003561470</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>3300826003561470</string>
    <key>FacebookClientToken</key>
    <string>eb6dd67ae473fd77898a89ef00c7c6ad</string>
    <key>FacebookDisplayName</key>
    <string>GoodRestaurantNote</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <string>TRUE</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <string>TRUE</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <!-- 카카오톡으로 로그인 -->
        <string>kakaokompassauth</string>
        <!-- 카카오톡 공유 -->
        <string>kakaolink</string>
        <!-- 페이스북으로 로그인 -->
        <string>fbapi</string>
        <!-- 페이스북 공유 -->
        <string>fb-messenger-share-api</string>
    </array>
      
      <key>GIDClientID</key>
      <string>1001568099429-2v4aghjchkese9a1fva3fmn9jc8phfk3.apps.googleusercontent.com</string>
      <key>CFBundleURLTypes</key>
      <array>
          <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                  <string>com.googleusercontent.apps.1001568099429-2v4aghjchkese9a1fva3fmn9jc8phfk3</string>
              </array>
          </dict>
      </array>
      
</dict>
</plist>
